node_modules
dist
yarn-error.log
coverage
.env*.local
.next
.nyc_output
.yalc
yalc.lock
.vscode
.idea
.run
.log
.DS_Store
.sentryclirc

apps/main/public/precache.*.*.js
apps/main/public/sw.js
apps/main/public/workbox-*.js
apps/main/public/worker-*.js
apps/main/public/precache.*.*.js.map
apps/main/public/sw.js.map
apps/main/public/workbox-*.js.map
apps/main/public/worker-*.js.map
apps/main/public/sitemap.xml
/types

apps/main/storybook-static
apps/main/storybook-static/*
cache
apps/main/next-env.d.ts

# xstate autogenereted files
*.typegen.ts

